version: "3"
services:
  postgres:
    image: postgres:latest
    container_name: testpostgres
    environment:
      POSTGRES_PASSWORD: mysecretpassword
    ports:
      - "5432:5432"
    restart: always
