version: "3"
services:
  mongo:
    image: mongo:latest
    container_name: testmongo
    ports:
      - "27017:27017"
    restart: always
  
  postgres:
    image: postgres:latest
    container_name: testpostgres
    environment:
      POSTGRES_PASSWORD: mysecretpassword
    ports:
      - "5432:5432"
    restart: always
